<ul id="barUl">
    <li id="openCart">
        <a href="###"></a>
        <span>购物车</span>
    </li>
    <li id="collect">
        <a href="###"></a>
        <span>我的收藏</span>
    </li>
    <li id="pastRecords">
        <a href="###"></a>
        <span>浏览足迹</span>
    </li>
    <li>
        <a href="###"></a>
        <span><img src="http://www.wanbiao.com/src/img/index_img/ia_10119.png" alt=""></span>
    </li>
    <li id="soTop">
        <a href="###"></a>
        <span>回到顶部</span>
    </li>
</ul>
<div class="shoppingCart">
    <div class="cart">
        <span id="cartCon">购物车</span>
        <i id="close">X</i>
    </div>
    <p class="p_text">
        <span>登录后显示您之前加入的商品</span>
        <a target="_blank" href="http://www.wanbiao.com/src/html/login.html">现在登录</a>
    </p>
    <div class="perpleShop">
        <i></i>
        <p>快去挑选心仪的商品吧</p>
    </div>
</div>