<div class="top">
    <div class="top-con">
        <div class="introduce">正品保障，免息分期！</div>
        <div class="userinfo">
            <div class="top-login-info">
                <a target="_blank" class="login-btn" href="http://www.wanbiao.com/src/html/login.html">请登录</a>
                <a target="_blank" class="reg-info"
                    href="http://www.wanbiao.com/src/html/register.html">注册即送3500元大礼包</a>
            </div>

            <div class="top-cart">
                <span>|</span>
                <a id="cart" href="##">购物车</a>
                <div class="customer">
                    <a href="##">客户服务</a>
                    <ul>
                        <span></span>
                        <li><a href="###">客户顾问</a></li>
                        <li><a href="###">售后维修</a></li>
                        <li><a href="###">帮助中心</a></li>
                        <li><a href="###">办理信用卡</a></li>
                        <li class="service-hotline">
                            <p>服务专线：400-883-2688</p>
                            <p>外呼号码：020-83931899</p>
                        </li>
                    </ul>
                </div>
                <a class="welfare" href="##">会员福利</a>
                <span>|</span>
                <a class="English" href="###">ENGLISH</a>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="top-logo">
        <h1>
            <a href="###"><img src="http://www.wanbiao.com/src/img/index_img/index_logo.png" alt="" /></a>
        </h1>
        <a class="logo2" href="###"><img src="http://www.wanbiao.com/src/img/index_img/index_reg_up.png" alt="" /></a>
    </div>
    <div class="search-box">
        <i></i>
        <input type="text" placeholder="东方星" />
        <button>搜索</button>
    </div>
    <div class="second-hand">
        <a class="adj" href="###"><img src="http://www.wanbiao.com/src/img/index_img/ia_10128.png" alt="" /></a>
        <a class="presentation" href="###"><img src="http://www.wanbiao.com/src/img/index_img/ia_10119.png"
                alt="" /></a>
    </div>
</div>