.navi {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

#navigation {
    width: 100%;
    height: 48px;
    background: #fff;

    .conter {
        width: 1200px;
        height: 48px;
        margin: auto;

        .com-menu {
            float: left;
            position: relative;

            .com-all {
                display: block;
                width: 202px;
                height: 48px;
                background: #bd4b4b;
                line-height: 48px;
                box-sizing: border-box;
                padding-left: 20px;
                color: #fff;
            }

            i {
                display: block;
                width: 28px;
                height: 22px;
                background: url(../../img/index_img/ia_10007.png);
                background-position: -416px -420px;
                position: absolute;
                top: 15px;
                right: 15px;
            }


        }

        #list {
            float: left;
            padding-left: 10px;

            li {
                float: left;
                margin-left: 20px;
                line-height: 48px;
                position: relative;

                a {
                    color: #333;

                    &::after {
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: red;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translate(-50%);
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                            transition: all 0.6s;
                        }
                    }
                }
            }
        }

        @import 'menu.scss';
    }
}